<ul class="menu-main">
    <li><a href="">Home</a></li>
    <li><a href="jokespage/jokespage.component.html">Jokes</a></li>
    <li><a href="aboutpage/aboutpage.component.html">About</a></li>
    <li><a href="loginpage/loginpage.component.html">Login</a></li>
</ul>

<router-outlet></router-outlet>    