.video-layer{
    background: rgba(0,0,0,0.6);
	position: absolute;
	overflow: auto;
    top: 67px;
    left: 0;
    bottom: 0;
	right: 0;
	z-index: 1;
}
 
.video-layer h1 {
    text-align: center;
    color: #fff;
    font-size: 70px;
    margin-top: 2rem;
} 

.video-layer p {
    text-align: center;
    color: #ffff;
    font-size: 2rem;
	margin: 2rem auto 0;
	width: 50%;
}
  
/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
	margin-top: 2rem;
} 

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 25%;
	min-height: 20vh;
	padding: 0;
  }
  
  /* Style the list items inside the UL list, by setting its width, height and line-height 
	and float them to left and set its border and border-radius.
   */
  .wrapper ul li {
	width: 75px;
	height: 75px;
	line-height: 75px;
	margin: 0 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 5px solid #D8E2DC;
	transition: all 0.5s ease;
  }
  
  /* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */
  .wrapper ul li .fa {
	color: #D8E2DC;
	margin-top: 20px;
	transition: all 0.5s ease;
  }
  
  /* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
	to icons for glowing effect and use transition property for smooth transition effect. */
  /*facebook*/
  .wrapper ul li:hover.facebook {
	border: 5px solid #3b5998;
	box-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-facebook {
	color: #3b5998;
	text-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
  }
  
  /*twitter*/
  .wrapper ul li:hover.twitter {
	border: 5px solid #00aced;
	box-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-twitter {
	color: #00aced;
	text-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
  }
  
  /* instagram */
  .wrapper ul li:hover.instagram {
	border: 5px solid #bc2a8d;
	box-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-instagram {
	color: #bc2a8d;
	text-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5s ease;
  }
  
  /* google */
  .wrapper ul li:hover.google {
	border: 5px solid #dd4b39;
	box-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-google {
	color: #dd4b39;
	text-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
  }
  
  /* whatsapp */
  .wrapper ul li:hover.whatsapp {
	border: 5px solid #4dc247;
	box-shadow: 0 0 15px #4dc247;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-whatsapp {
	color: #4dc247;
	text-shadow: 0 0 15px #4dc247;
	transition: all 0.5s ease;
  }
  
  
  /* media queries */
  
  @media screen and (max-width: 640px){
	.wrapper {
		width: 350px;
	}
	.wrapper ul li{
		margin-top: 10px;
	}
	.wrapper ul li.google{
		margin-left: 60px;
	}
  }
  
  
  @media screen and (max-width: 340px){
	.wrapper {
		width: 150px;
	}
	.wrapper ul li{
		margin:15px;
	}
	.wrapper ul li.google{
		margin-left: 15px;
	}
  }