<div class="video-layer">
    <h1>About us</h1>
    <p>We are people who like to have fun and laugh a lot this is why we created this site</p>
    <p>If you have any suggestions please dont hesitate and write us, you can find our social networks below</p>
  
    <div class="wrapper">
        <ul>
            <li class="facebook"><a href="https://www.facebook.com/profile.php?id=1705828469"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
            <li class="twitter"><a href="https://twitter.com/neil_druckmann"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
            <li class="instagram"><a href="https://www.instagram.com/usa_tenko/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
            <li class="google"><a href="mailto:alpermeydan16@gmail.com"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
            <li class="whatsapp"><a href="https://api.whatsapp.com/send?phone=36202823387"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>

<video loop muted autoplay>
    <source src="/assets/video/Cheering-Crowd.mp4" type="video/mp4">
</video>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

