<div class="video-layer">
      <h1>Just smile!</h1>
      <p>Welcome to joke's website. Here you can find different types of jokes.
      <br>Laugh, like and go to next</p>
</div>
 
<video loop muted autoplay>
      <source src="/assets/video/clear-water.mp4" type="video/mp4">
</video>


