.video-layer{
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:10;
    left:0;
    width: 100%;
    height: 100%;
}
 
.video-layer h1 {
    text-align:center;
    color:#fff;
    font-size: 70px;
    margin-top:15%;
} 

.video-layer p {
    text-align: center;
    color: #ffff;
    font-size: 30px;
    margin-top: -3%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    z-index: -1;
}